footer {
  margin-top: 250px;
}

.page-header:first-child {
  margin-top: 50px;
}

.page-header {
  margin-top: 150px;
}

pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 9.5px;
}

.push-top {
  margin-top: 50px;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
}